<a href="https://colab.research.google.com/github/tumikosha/ds/blob/main/turism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !curl -L -o etapa1_full.csv https://drive.google.com/u/0/uc?id=1_sjviByPoVQPJA5ZDhdOej-HvvifbBXA
# !curl -L -o etapa2.csv https://drive.google.com/u/0/uc?id=1ixzeORjUzJLT7nEetQ6amJP0wQH01DNR
# !curl -L -o etapa3.csv https://drive.google.com/u/0/uc?id=1auvyubEeTFMZpMyzK80HmOkDsbwpUJxJ 
# !curl -L -o etapa4.csv https://drive.google.com/u/0/uc?id=1aBt3zjn6M-ceDpsdXMoZU21q9DbP2z8n 
!curl -L  https://drive.google.com/uc?id=1Hi188_hFHApCCNtCQ6Spv5lO2DgORFUf   >turism.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 1914k  100 1914k    0     0  1691k      0  0:00:01  0:00:01 --:--:-- 1691k

In [ ]:
import pandas as pd
df = pd.read_csv("turism.csv")
df.corr()

,id,Q3,Q4,Q8,Q9_1,Q25_1_Total,Q25_2_Total,Q25_3_Total,Q25_4_Total,Q25_5_Total,Q25_6_Total,Q25_7_Total,Q25_8_Total,Q25_9_Total,Q25_13_Total
id,1.000000,-0.026273,0.031013,0.064482,0.130939,-0.050407,-0.020308,-0.124936,-0.075626,-0.128765,-0.130506,-0.013946,-0.107381,-0.033933,-0.055312
Q3,-0.026273,1.000000,0.028114,-0.002291,-0.022807,-0.053499,-0.023301,-0.073768,-0.068139,0.104560,0.004206,-0.086805,-0.055480,0.055199,-0.062101
Q4,0.031013,0.028114,1.000000,0.111387,0.016952,0.129127,0.034920,0.103293,0.108869,0.035285,0.021804,0.162997,0.030424,-0.033684,0.062593
Q8,0.064482,-0.002291,0.111387,1.000000,0.033911,0.032611,-0.048935,-0.035980,0.058984,-0.045171,0.073058,0.026185,-0.005734,0.184030,-0.003581
Q9_1,0.130939,-0.022807,0.016952,0.033911,1.000000,0.039714,0.243586,0.078250,0.308390,0.064897,0.167932,0.087058,0.206885,-0.005709,0.248202
Q25_1_Total,-0.050407,-0.053499,0.129127,0.032611,0.039714,1.000000,0.339251,0.212012,0.357648,0.028083,0.209743,0.114723,0.078543,0.448343,0.701667
Q25_2_Total,-0.020308,-0.023301,0.034920,-0.048935,0.243586,0.339251,1.000000,0.101323,0.337338,0.122696,0.172537,0.218334,0.464083,0.010854,0.337987
Q25_3_Total,-0.124936,-0.073768,0.103293,-0.035980,0.078250,0.212012,0.101323,1.000000,0.507307,0.110994,0.167209,0.153577,0.088534,-0.140330,0.608265
Q25_4_Total,-0.075626,-0.068139,0.108869,0.058984,0.308390,0.357648,0.337338,0.507307,1.000000,0.223538,0.511749,0.252059,0.311187,0.236264,0.637316
Q25_5_Total,-0.128765,0.104560,0.035285,-0.045171,0.064897,0.028083,0.122696,0.110994,0.223538,1.000000,0.553744,0.353519,0.498519,0.248519,0.249774
Q25_6_Total,-0.130506,0.004206,0.021804,0.073058,0.167932,0.209743,0.172537,0.167209,0.511749,0.553744,1.000000,0.460126,0.744157,0.501054,0.526548
Q25_7_Total,-0.013946,-0.086805,0.162997,0.026185,0.087058,0.114723,0.218334,0.153577,0.252059,0.353519,0.460126,1.000000,0.230949,0.514126,0.356767
Q25_8_Total,-0.107381,-0.055480,0.030424,-0.005734,0.206885,0.078543,0.464083,0.088534,0.311187,0.498519,0.744157,0.230949,1.000000,-0.018034,0.257982
Q25_9_Total,-0.033933,0.055199,-0.033684,0.184030,-0.005709,0.448343,0.010854,-0.140330,0.236264,0.248519,0.501054,0.514126,-0.018034,1.000000,0.576713
Q25_13_Total,-0.055312,-0.062101,0.062593,-0.003581,0.248202,0.701667,0.337987,0.608265,0.637316,0.249774,0.526548,0.356767,0.257982,0.576713,1.000000

In [ ]:
import pandas as pd
turism = {
    'VKunitki': {
        'Khalkidhiki': 4.5, 'Thasos': 5.0,  'Crete': 5.0,  'Santorini': 4.5, 'Odessa': 2.5,  'Zatoka': 1.0, 'Romania': 2.0,
        'Krakow': 5.0, 'Rome': 5.0,  'Vienna': 5.0,  'Milano': 5.0,  'Moscow': 5.0,  'Odessa': 2.5, 'Oia': 1,
    },
    'Olga': { 'Khalkidhiki': 4.5,        'Thasos': 5.0,  'Crete': 5.0,        'Santorini': 4.5,   'Odessa': 2.5,    },
    'Sasha': {'Thasos': 5.0,   'Crete': 5.0,  'Santorini': 4.5,  'Odessa': 2.5,   'Vienna': 5.0, 'Berlin': 5.0 , 'Oia': 4 },
    'Ion': {   'Leptokaria': 3.5,   'Moscow': 5.0,    'London': 4.5,  }
}

In [112]:

import pandas as pd
df = pd.read_csv("turism.csv")
# transforming pandas into trips structure
turism = {
    'Ion': {   'Leptokaria': 3.5,   'Moscow': 5.0,    'London': 4.5,  }
}

def nota(txt):
  txt = txt.lower().strip()
  if txt == "very satisfied": return 5
  if txt == "satisfied": return 4
  if txt == "neither satisfied, nor dissatisfied": return 3
  if txt == "dissatisfied": return 2
  if txt == "very dissatisfied": return 1
  return 0

def code(v1, v2, obj):
    if v1=="I visited":  
        if nota(v2)!=0 :  trips[obj]= nota(v2) 

# for idx, row in df[0:20].iterrows():
for idx, row in df.iterrows():
    # print(row['id'])
    trips={} 
    code(row['Q26_11'], row['Q27_11'], 'Museums')  
    code(row['Q26_12'], row['Q27_12'], 'Theaters')  

    code(row['Q26_13'], row['Q27_13'], 'Restaurants') 
    code(row['Q26_13'], row['Q27_13'], 'Wine')  
    code(row['Q26_13'], row['Q27_13'], 'Clubs') 

    code(row['Q26_21'], row['Q27_21'], 'Milestii mici')  
    code(row['Q26_22'], row['Q27_22'], 'Cricova')         
    code(row['Q26_23'], row['Q27_23'], 'Purcari')         
    code(row['Q26_24'], row['Q27_24'], 'Chateau Cojushna')
    code(row['Q26_25'], row['Q27_25'], 'Chateau Vartely')
    code(row['Q26_26'], row['Q27_26'], 'Castel Mimi')
    code(row['Q26_27'], row['Q27_27'], 'Asconi Winery')
    code(row['Q26_27'], row['Q27_27'], 'EtCetera Winery')
    code(row['Q26_3'], row['Q27_3'], 'Orheiul Vechi')
    code(row['Q26_41'], row['Q27_41'], 'Capriana')
    code(row['Q26_42'], row['Q27_42'], 'Saharna')
    code(row['Q26_43'], row['Q27_43'], 'Tipova')  

    code(row['Q26_51'], row['Q27_51'], 'Soroca fortress')  
    code(row['Q26_52'], row['Q27_52'], 'The castle Manuc Bei') 
    code(row['Q26_53'], row['Q27_53'], 'Castle Mimi') 
    
    code(row['Q26_61'], row['Q27_61'], 'Padurea Domneasca') 
    code(row['Q26_62'], row['Q27_62'], 'Codri') 
    code(row['Q26_63'], row['Q27_63'], 'Cave Emil Racovita') 
    code(row['Q26_64'], row['Q27_64'], 'Lower Prut Biosphere') 

    code(row['Q26_71'], row['Q27_71'], 'Chisinau nternational Marathon (September)') 
    code(row['Q26_72'], row['Q27_72'], 'Ethnojazz Festival Spt. 20-30') 
    code(row['Q26_73'], row['Q27_73'], 'Wine Festival Oct 6-7') 
    code(row['Q26_74'], row['Q27_74'], 'City Anniversary') 
    code(row['Q26_74'], row['Q27_74'], 'Weddings/cumatria')     

    code(row['Q26_81'], row['Q27_81'], 'Weddings/cumatria')     
    code(row['Q26_82'], row['Q27_82'], 'Casa din Lunca')  
    code(row['Q26_83'], row['Q27_83'], 'Hanu lui Ganganu') 
    code(row['Q26_84'], row['Q27_84'], 'Fata Morgana') 
    code(row['Q26_85'], row['Q27_85'], 'The greeen house/Casa Verde') 
    code(row['Q26_86'], row['Q27_86'], 'Pink Villa/Vila Roz') 
    # print(idx, trips)
    turism[row['id']]=trips

my_name = "Newbie"
turism[my_name] = {'Cricova':1, 'Purcari':1}   
print("recommendations: ", getRecommendations(turism, my_name, similarity=sim_distance))

recommendations:  [(4.776527513235389, 'EtCetera Winery'), (4.776527513235389, 'Asconi Winery'), (4.762992047566224, 'Milestii mici'), (4.759241468071656, 'Castle Mimi'), (4.722337080232387, 'Wine Festival Oct 6-7'), (4.718871873386073, 'Chateau Vartely'), (4.710556558469732, 'Castel Mimi'), (4.702087619943356, 'City Anniversary'), (4.687033185196309, 'Orheiul Vechi'), (4.643624476277735, 'Weddings/cumatria'), (4.638962104383786, 'Theaters'), (4.6344872013297325, 'Chateau Cojushna'), (4.631969957271742, 'Wine'), (4.631969957271742, 'Restaurants'), (4.631969957271742, 'Clubs'), (4.623012422845682, 'Saharna'), (4.591811589093858, 'Lower Prut Biosphere'), (4.591677890340191, 'Casa din Lunca'), (4.591108432671799, 'Tipova'), (4.589958142054848, 'Soroca fortress'), (4.568934813547271, 'Capriana'), (4.5549757228838565, 'Fata Morgana'), (4.507654598993962, 'Museums'), (4.498399346695305, 'Hanu lui Ganganu'), (4.488888888677119, 'Padurea Domneasca'), (4.4519544122823, 'The greeen house/Casa Verde'), (4.447097886457796, 'Codri'), (4.40761070600282, 'The castle Manuc Bei'), (4.351642042543084, 'Ethnojazz Festival Spt. 20-30'), (4.220792364874094, 'Cave Emil Racovita'), (4.217169786475318, 'Chisinau nternational Marathon (September)'), (4.215589274551355, 'Pink Villa/Vila Roz')]